<html>
    <head>
            <link rel='stylesheet' href='/styleE.css' />
        
        <title>tytul</title>
    </head>
    <body>
        
          <h1><%= first_name %>, dziękujemy za zgłoszenie! </h1>
          <div id="data">
              <p><h3>Zarejestrowano:</h3></p>
                <label>Imię:</label> <%= first_name %> <br />
                <label>Nazwisko:</label> <%= last_name %> <br />
                <label>Miasto:</label> <%= town %>
          </div>
          
    </body>
</html>