<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type="text/css" href="/styleE.css"/>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        <h1>Uzupelnij dane:</h1>
        <form action="http://localhost:8000/formdata" method="POST">
            <p>Imie: <input type="text" name="first_name"></p>
            <p>Nazwisko: <input type="text" name="last_name"></p>
            <p>Miasto: <input type="text" name="town"></p>
            <input type="submit" value="submit" id="buttonSubmit">
        </form>
        

    </body>
</html>