html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url("back.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

input{
    margin: 10px;
    border: 1px solid #ccc;
    width: auto;
    height: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255); 
    font-size: 50px;
}

form{
    text-align: center;
    size: 60px;
}

button{
    background-color: white;
    border: none;
    border-radius: 4px;
}

p{
    margin: -10px;
}

text{
    color: white;
}